@using Bobbins.Frontend.Models.Comments
@using Bobbins.Frontend.Models.Links
@using Microsoft.AspNetCore.Mvc.Rendering
@model LinkPageViewModel

@{
    ViewBag.Title = $"Bobbin : {Model.Link.Title}";
}

<div class="row">
    <h2><a href="@Model.Link.Url">@Model.Link.Title</a></h2>
</div>

<div class="row">
        <form asp-controller="Comments" asp-action="Create" method="post">
            <div class="form-group">
                <label for="Text">Comment:</label>
                <textarea id="Text" name="Text" class="form-control"></textarea>
            </div>
            <input type="hidden" name="LinkId" value="@Model.Link.Id"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

@foreach (var comment in Model.Comments)
{
    @Html.Partial("Comment", comment);
}

@section Scripts
{
    <script src="/js/scriptify.js"></script>
}
