@using Bobbins.Frontend.Models.Comments
@using Microsoft.AspNetCore.Mvc.Rendering
@model CommentPageViewModel

@{
    ViewBag.Title = $"Reply to comment";
}

@Html.Partial("Comment", Model.Comment)

<div class="row">
        <form asp-controller="Comments" asp-action="Create" method="post">
            <div class="form-group">
                <label for="Text">Comment:</label>
                <textarea id="Text" name="Text" class="form-control"></textarea>
            </div>
            <input type="hidden" name="LinkId" value="@Model.NewComment.LinkId"/>
            <input type="hidden" name="ReplyToId" value="@Model.NewComment.ReplyToId"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

