@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Bobbins is a Hackernews clone in ASP.NET Core 2, created as a training project by RendleLabs.</p>
